.offer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 80px;
  padding-bottom: 80px;

  @media (width > 900px) {
    padding-bottom: 150px;
  }

  &__elements {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
  }
}
