.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  transition:
    box-shadow 0.3s,
    height 0.4s;
  background-color: #fff;

  &--box-shadow {
    height: 80px;
    box-shadow: rgba(2, 21, 78, 0.09) 0 3px 18px;
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 400px;
    height: calc(100% - 20px);
    padding: 10px 80px 10px 10px;
    margin-right: 80px;
    border-right: 1px solid #dce7fb;

    img {
      height: 80%;
    }
  }

  &__menu-items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 40px;
    max-width: 850px;

    .menu-item {
      position: relative;
      color: #002e44;
      font-weight: 800;
      line-height: 28px;
      cursor: pointer;
      transition: color 0.25s;

      &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background-color: #1655c5;
        transition: width 0.3s;
      }

      &:hover,
      &--active {
        color: #1655c5;

        &:before {
          width: 100%;
        }
      }
    }
  }

  &__spacer {
    width: 400px;
  }
}
