.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0 40px 0 20px;
  transition:
    box-shadow 0.3s,
    height 0.4s;
  background-color: #fff;

  &--box-shadow {
    height: 80px;
    box-shadow: rgba(2, 21, 78, 0.09) 0 3px 18px;
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: calc(100% - 20px);
    padding: 10px 0 10px 10px;

    img {
      height: 80%;

      @media (width <= 450px) {
        max-height: 30px;
      }
    }
  }

  &__menu-items {
    display: none;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 40px;
    min-width: 400px;
    max-width: 850px;

    .menu-item {
      position: relative;
      color: #002e44;
      font-weight: 800;
      line-height: 28px;
      cursor: pointer;
      transition: color 0.25s;

      &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background-color: #1655c5;
        transition: width 0.3s;
      }

      &:hover,
      &--active {
        color: #1655c5;

        &:before {
          width: 100%;
        }
      }
    }
  }

  @media (width > 1100px) {
    justify-content: center;
    padding: 0;

    &__logo {
      width: 400px;
      border-right: 1px solid #dce7fb;
      padding-right: 80px;
      margin-right: 80px;
    }

    &__menu-items {
      display: flex;
    }

    &__spacer {
      width: 400px;
    }

    &__burger-menu {
      display: none;
    }
  }
}
